
html {
    height: 100%;
}

body {
    background-color: gray;
    background-image: url(images/hd-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 1024px;
}

header {
background-color: rgba(0, 0, 255, 0);
    height: 118px;
}

nav {
    background-color: rgba(255, 0, 0, 0);
    height: 40px;
}

main {
    background-color: rgba(255, 166, 0, 0);
    height: 400px;
    padding-top: 80px;
}

footer {
    background-color: rgba(172, 255, 47, 0);
    height: 100px;
}

.box1 {
    background-color: white;
    text-align: center;
    height: 500px;
    width: 400px;
    margin-top: -90px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 30px;
    color: rgb(83, 83, 83);
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    margin-right: 200px;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 16px;
    padding-top: 20px;
    margin: 2px 0;

}

.textbox input {
    font-size: 16px;
    width: 80%;
    margin: 0 10px;
}

.btn {
    width: 80%;
    background: rgb(21, 156, 247);
    color: white;
    padding: 5px;
    font-size: 18px;
    border: 2px solid rgb(9, 57, 88);
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover{
    background-color: rgb(12, 71, 110);
}

a {
    color: rgb(45, 45, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    margin-left: 50px;
    margin-top: 50px;
}

p {
    font-size: 13px;
    color: rgb(77, 76, 76);
    margin-top: 40px;
}

.language {
    margin-top: 50px;
    margin-left: 300px;
    padding-top: 15px;
}

.existingaccount {
    font-size: 14px;
    margin-top: 150px;
}

.signin{
    font-size: 14px;
    margin-left: 3px;
}

.info {
    text-align: center;
    margin-top: 80px;
    font-size: 16px;
    color: white;
    border: 1px solid white; 
    width: 500px;
    margin-left: 250px;
}

img {
    height: 80px;
    width: 100px;
    margin-left: 270px;
    margin-top: 100px;
}

.socialmedia {
    font-size: 50px;
    color: white;
    margin-left: 420px;
    margin-top: -80px;
}

.or {
    font-size: 14px;
    margin-top: -150px;
}

.google {
    width: 30%;
    background: none;
    font-size: 16px;
    border: 1px solid black;
    cursor: pointer;
    height: 40px;
    margin-left: -10px;
    text-align: right;
    position: relative;
    margin-top: 10px;
    background-image: url(images/google.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30%;
}

.facebook {
    width: 30%;
    background: none;
    font-size: 14px;
    border: 1px solid black;
    cursor: pointer;
    height: 40px;
    margin-left: 40px;
    text-align: right;
    position: relative;
    background-image: url(images/facebook.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 35%;
}

.google:hover {
    border: 2px solid black;
}

.facebook:hover {
    border: 2px solid black;
}

.signin:hover {
    color: rgb(4, 0, 255);
    font-weight: bold;
}