body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}


/* Homepage Header */
.hpgHeader{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #4caf50 3px solid;
}

#hpgHBtns{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    float: right;
}

#hpgBtnLogIn{
    background-color: #4caf50;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    margin: 0 20px 10px 20px;
    display: none;
}
#hpgBtnReg{
    background-color: #FFFFFF;
    border: #4caf50 2px solid;
    color: #4caf50;
    padding: 15px 32px;
    margin: 0 20px 10px 20px;
    display: none;
}

.hpgHeadTitle{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
}


/* Homepage Showcase */
#hpgShowCon{
    min-height: 800px;
    background: url('../images/show_wel01.jpg') no-repeat;
    background-size: 100% 100%;
    display: flex;
}
#hpgShowcase{
    background: url('../images/show_wel01.jpg') no-repeat;
    background-size: 100% 100%;
    width: 50%;
    height: 800px;
    display: none;
}
#hpgShowcase h1{
    margin: 400px 0 250px 0;
    vertical-align: middle;
    text-align: center;
    color: #FFFFFF;
}
#hpgButtons{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
#hpgLogIn{
    background-color: #FFFFFF;
    border: #4caf50 2px solid;
    color: #4caf50;
    padding: 15px 32px;
    width: 200px;
    margin: 20px;
}
#hpgReg{
    background-color: #4caf50;
    border: none;
    color: #FFFFFF; 
    padding: 15px 32px;
    width: 200px;
    margin: 20px;
}

#hpgJoin{
    font-size: 25px;
    font-weight: bold;
    color: #FFFFFF;
}

/* Homepage Footer  */
.hpgFooter{
    min-height: 70px;
    text-align: center;
}
.ftrLnks{
    margin: auto;
    vertical-align: middle;
    padding: 25px;
}
.ftrLnks a{
    color: #000000;
}

/* Main Page Navigation */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #4caf50;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    transition: margin-right .5s;
}

  /* Posts */
#post{
      margin: 20px;
      border: 1px #9c9c9c solid;
      border-radius: 5px;
}
#post h3{
    max-width: 150px;
    display: inline;
    vertical-align: middle;
}
#pp{
    margin: 10px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    box-shadow: 6px 5px 5px 0px rgba(118,115,115,0.75);
    -webkit-box-shadow: 6px 5px 5px 0px rgba(118,115,115,0.75);
    -moz-box-shadow: 6px 5px 5px 0px rgba(118,115,115,0.75);  
    /* border: 0.15px solid #000000; */
    display: inline;
    vertical-align: middle;
}
#post p{
    padding: 10px;
    margin: 5px;
}
.attImg{
    box-shadow: none;
    border: 0.25px solid #9c9c9c;
    display: block;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 90%;
    cursor: pointer;
    transition: 0.3s;
}
.pstInteract{
    padding: 5px 20px 5px 20px;
    margin: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pstInteract > img{
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
#mainCount{
    vertical-align: middle;
}
#dat{
    font-size: 12px;
    width: 100%;
    text-align: center;
}

/* popout image - https://www.w3schools.com/howto/howto_css_modal_images.asp*/
.popouts{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: #000000;
    background-color: #00000094; 
}
.popoutImg{
    margin: auto;
    display: block;
    width: 70%;
}
.popoutImg{
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom{
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
@keyframes zoom{
    from {transform: scale(0)}
    to {transform: scale(1)}
}
.closeBtn{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #FFFFFF;
    font-size: 50px;
    transition: 0.3s;
}
.closeBtn:hover,
.closeBtn:focus{
    color: #f4f4f4;
    cursor: pointer;
}